
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
}

.wave {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 7rem;
	padding: 0 2rem;
}

.container2 {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	grid-gap: 1rem;
	padding: 0 2rem;
	align-content:space-around;
	justify-content:space-between;
	grid-template-columns: 1fr 2fr; /* Adjust column proportions */
}


.img {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	filter: drop-shadow(0 0 0.75rem #38d39f);
	filter: brightness(80%);
	/* Add margin to push the image to the left */
	margin-left: -50px;
}

.login-content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img {
	width: 400px;
}

form {
	width: 360px;
}

.login-content img {
	height: 100px;
}

.login-content h2 {
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;

}

.login-content .input-div {
	position: relative;
	display: grid;
	grid-template-columns: 7% 93%;
	margin: 25px 0;
	padding: 5px 0;
	border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
	margin-top: 0;
}

.i {
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i {
	transition: .3s;
}

.input-div > div {
	position: relative;
	height: 45px;
}

.input-div > div > h5 {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before,
.input-div:after {
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before {
	right: 50%;
}

.input-div:after {
	left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
	width: 50%;
}

.input-div.focus > div > h5 {
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i {
	color: #38d39f;
}

.input-div > div > input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass {
	margin-bottom: 4px;
}

a {
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover {
	color: #38d39f;
}

.btn {
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}

.btn:hover {
	background-position: right;
}

@media screen and (max-width: 1050px) {
	.container {
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px) {
	form {
		width: 290px;
	}

	.login-content h2 {
		font-size: 2.4rem;
		margin: 8px 0;
	}

	.img img {
		width: 400px;
	}
}

@media screen and (max-width: 900px) {
	.container {
		grid-template-columns: 1fr;
	}

	.img {
		display: none;
	}

	.wave {
		display: none;
	}

	.login-content {
		justify-content: center;
	}
}

.input-group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1px;
}

.input-group .input-div {
	width: calc(50% - 1px);
	margin-right: 10px;
}

.new-account-link {
	display: block;
	text-align: left;
	margin-top: 10px;
	color: #38d39f;
	text-decoration: none;
}

.login-links {
	display: flex;
	justify-content: space-between;
	margin-top: 8px;
}

.login-links a {
	color: #999;
	text-decoration: none;
}

a:hover {
	color: #38d39f;
}

.logo {
	top: 0;
	right: 50px;
	padding: 20px 20px;
	position: absolute;
	height: 150px;
	width: 150px;
}

.login-content-otp{
	margin-left: 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}


form .input-field{
	flex-direction:row;
	column-gap:50px;

}


.input-field input{
	height:55px;
	width: 50px;
	border-radius: 9px;
	outline: none;
	font-size: 18px;
	text-align: center;
	border: 1px solid #d9d9d9;
	margin-left:6px;
	margin-top: 30px;
	margin-bottom:	30px;
}

.input-field input:focus{
	box-shadow: 0 0 5px #38d39f;
}


.input-field input[type="number"]::-webkit-inner-spin-button,
.input-field input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.input-field input[type="number"] {
    -moz-appearance: textfield;
}

.input-field input[type="number"]::-webkit-inner-spin-button,
.input-field input[type="number"]::-webkit-outer-spin-button {
           -webkit-appearance: none;
            margin: 0;
}

.input-field input[type="number"] {
            -moz-appearance: textfield;
}

form button {
margin-top: 25px;
	width: 100%;
	height: 50px;
									color: #fff;
									font-size: 1.9rem;
									border: none;
									padding: 9px 0;
									cursor: pointer;
									border-radius: 6px;
									pointer-events: none;
									background: linear-gradient(to right, #3ad67f, #32be8f, #3ad67f);
									transition: all 0.2s ease;
}

form button.active {
									background: linear-gradient(to right, #2fb968, #30c87c, #2fb968);
									pointer-events: auto;
}

form button:hover {
									background: linear-gradient(to right, #1f8f4f, #2fb968, #1f8f4f);
}

.checkbox-group {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.checkbox-box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 50px;
	border: 2px solid #38d39f;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.checkbox-box input[type="checkbox"] {
	display: none;
}

.checkbox-box:hover {
	background-color: #38d39f;
	color: white;
}

.checkbox-box.selected{
	border:2px solid white;
	background-color: #38d39f;
	color : white;
}

.login-content-deatil{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.input-qua{
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 16px;

}

#qualification{
	margin-left: 20px;
	margin-right: 20px;
	size: 20px;
	width: 250px;
	height: 40px;
	border-radius: 9px;
	outline: none;
	font-size: 18px;
	text-align: center;
	border: 2px solid black;

}
